body {
  text-align: center;
}

a:link,
a:visited {
  color: black;
}

.coverImage {
  height: 300px;
}

.nonvisible {
  display: none;
}

.closeSign {
  width: 20px;
  height: 20px;
  top: 25px;
  right: 40px;
  z-index: 1;
}

.clickable {
  cursor: pointer;
}

.highlighted {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 255, 0.8);
  border-radius: 50px;
  background-color: rgba(103, 103, 230, 0.1);
  transform: scale(1);
}

.breadcrumbs {
  position: absolute;
  top: 10px;
  left: 10px;
}
